tmp
.vscode
.devcontainer
.github
.git
.angular
coverage
.github
test-results
.husky
.devcontainer
docker-compose.yml
node_modules
dist/

# for now we dont need this directory!

.husky
coverage
todos/
users/
.editorconfig
.whitesource
CHANGELOG.md
commitlint.config.js
Dockerfile
THIRD_PARTY_NOTICES.md
typedoc.json
wss-unified-agent.config.json
.eslintignore
.eslintrc.json

