# OS files
.DS_Store

# Generated code
bundles/
docs/
coverage/
lib/
lib-esm/
node_modules/
*.copy.*

# Certificates
*.pem

# IDEs
.vscode

# Test code
tests/**/app/index.js*
tests/**/ie11/autoscript.js*
reports/*

# Sample code
samples/_static/js/*.js*
samples/*/public/app.*
samples/*/todos
samples/*/users

# Environment files
.env
