# OS files
.DS_Store
*/DS_Store



# Generated code
tmp/
dist/*
*/dist/
bundles/
docs/
coverage/
lib/
lib-esm/
node_modules/
samples/_static/js/*.js*
tests/**/app/index.js*
tests/**/ie11/ie-bundle.js*
reports/*
*.copy.*

# Certificates
*.pem

# IDEs
.vscode

# Test code
tests/**/app/index.js*
tests/**/ie11/autoscript.js*
reports/*

# Sample code
samples/_static/js/*.js*
samples/*/public/app.*
samples/*/todos
samples/*/users

# Environment files
.env
