# peer deps can be a pain (and are)
strict-peer-dependencies=false

# This prevents pnpm publish from running if you aren't on the specified branch,
# which can save you some headaches.
publish-branch=master

# This option tells pnpm to only resolve local deps to the local files
# when the workspace: protocol is used, and to otherwise download published versions.
link-workspace-packages=false

shared-workspace-lockfile = true

prefer-workspace-packages = true
