####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=true
html.resolveDependencies=true
npm.resolveDependencies=true
npm.runPreStep=true

#------------------------------------------------------------------------
#------------------------ Fill in the parameters ------------------------
#------------------------------------------------------------------------
apiKey=WHITESOURCE_API_KEY_VALUE

productName=Mobile
#Name of the product to create or update

wss.url=https://saas.whitesourcesoftware.com/agent
#URL to send the request to. Use the 'WhiteSource Server URL' which can be retrieved from your 'Profile' page on the 'Server URLs' panel. Then, add New configuration was created at the '/agent' path to it,
#For example: "https://<domain>.whitesourcesoftware.com/agent".

projectToken=e6293e2244154c9f86a5fd560a6028d72499fad61e98415b93445f22022f77ed
#Unique identifier of the project to update. It can be retrieved from the 'Integrate' page in your WhiteSource account

#---------------- File name patterns to search ----------------
includes=**/*.js **/*.jar
