<div *ngFor="let provider of identityProviders">
  <button
    [ngClass]="{
      'google-login': getDisplayName(provider) === idpNames.Google,
      'apple-login': getDisplayName(provider) === idpNames.Apple,
      'facebook-login': getDisplayName(provider) === idpNames.Facebook
    }"
    (click)="onSetProvider(provider.provider)"
  >
    <app-google-icon *ngIf="getDisplayName(provider) === idpNames.Google"></app-google-icon>
    <app-apple-icon *ngIf="getDisplayName(provider) === idpNames.Apple"></app-apple-icon>
    Sign in with {{ getDisplayName(provider) }}
  </button>
</div>
