<div *ngFor="let provider of identityProviders">
  <button
    [ngClass]="{
      'google-login': getDisplayName(provider) === 'Google',
      'apple-login': getDisplayName(provider) === 'Apple',
      'facebook-login': getDisplayName(provider) === 'Facebook'
    }"
    (click)="onSetProvider(provider.provider)"
  >
    <app-google-icon *ngIf="getDisplayName(provider) === 'Google'"></app-google-icon>
    <app-apple-icon *ngIf="getDisplayName(provider) === 'Apple'"></app-apple-icon>
    Sign in with {{ getDisplayName(provider) }}
  </button>
</div>
