/* .google-login{
  background-color: #fff;
  color: #757575;
  border-color: #ddd;
}
.google-login:hover{
  color: #6d6d6d;
  background-color: #eee;
  border-color: #ccc;
}

.apple-login{
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}
.apple-login:hover{
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.facebook-login{
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;

}
.facebook-login:hover{
  background-color: #334b7d;
  border-color: #334b7d;
  color: white;
}

button {
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 3rem;
} */
