// Override Colors
$theme: 'default';
$white: white;
$gray-100: #f6f8fa;
$gray-200: #e7eef4;
$gray-300: #d3d8e0;
$gray-400: #c0c9d5;
$gray-500: #69788b;
$gray-600: #5e6d82;
$gray-700: #455469;
$gray-800: #324054;
$gray-900: #23282e;
$black: black;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$blue: #109cf1;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f7685b;
$orange: #fd7e14;
$yellow: #ffb946;
$green: #2ed47a;
$teal: #20c997;
$cyan: #17a2b8;
$light-cyan: #e4f4fd;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
);

$primary: $blue;
$secondary: $gray-500;
$success: $teal;
$info: $cyan;
$warning: $yellow;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$min-contrast-ratio: 2;

// Override General
$body-bg: $gray-100;
$body-color: $gray-900;
$headings-color: $gray-900;
$font-size-base: 1rem;
$font-weight-bold: 600;
$font-weight-normal: 400;
$font-weight-light: 300;
$small-font-size: 0.8125rem;
$highlight-bg: $light-cyan;
$transition-collapse: height 0.25s ease-in;
$border-radius: 4px;
$box-shadow-sm: 0 1px 2px rgba($black, 0.13);
$box-shadow: 0 1px 3px rgba($black, 0.13);
$box-shadow-lg: 0 2px 11px rgba($black, 0.13);

// Override Border Styles
$border-color: $gray-200;

// Override default features
$enable-shadows: false;

// Override Fonts
$font-family-sans-serif: "Open Sans", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

// Override Headers styles and sizes
$headings-margin-bottom: ($spacer / 2);
$headings-font-family: inherit;
$headings-font-weight: $font-weight-light;
$headings-line-height: 1.2;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.8125;

$h1-font-weight: 300;
$h2-font-weight: 300;
$h3-font-weight: $font-weight-bold;
$h4-font-weight: $font-weight-bold;
$h5-font-weight: $font-weight-bold;
$h6-font-weight: $font-weight-bold;

$lead-font-weight: 400;
$text-muted: $gray-500;

$list-group-hover-bg: $highlight-bg;

// Override Links
$link-color: $primary !default;
$link-decoration: underline !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: none !default;

// Override Dropdown
$dropdown-box-shadow: $box-shadow;

// Override Inputs
$input-btn-padding-y: 0.25rem;
$input-btn-padding-x: 0.75rem;

// Override Floating Label
$form-floating-height: add(3rem, $input-height-border);
$form-floating-line-height: 1;
$form-floating-padding-x: $input-padding-x;
$form-floating-padding-y: 0.75rem;
$form-floating-input-padding-t: 1.625rem;
$form-floating-input-padding-b: .625rem;
$form-floating-label-opacity: .65;
$form-floating-label-transform: scale(.85) translateY(-.6rem) translateX(.15rem);
$form-floating-transition: opacity .1s ease-in-out, transform .1s ease-in-out;

// Override Buttons
$btn-padding-y: 0.375rem;
$btn-padding-x: 0.75rem;

// Dropdown overrides
$dropdown-dark-color: $gray-200;
$dropdown-dark-bg: $gray-900;
$dropdown-dark-border-color: $dropdown-border-color;
