AM_URL=<<<URL to your AM instance>>>
DEVELOPMENT=<<<Boolean>>>
PORT=<<<PORT>>>
REALM_PATH=<<<Your Realm Path>>>
REST_OAUTH_CLIENT=<<<Your REST OAuth client name/ID>>>
REST_OAUTH_SECRET=<<<Your REST OAuth client secret>>>
